<div class="indexPosts">
  <h4>Answer: {{answer.explanation}}</h4>
  <h5>Author: {{answer.author}}</h5>
</div>

{{update-answer answer=answer updateAnswer="updateAnswer"}}
<button class="btn btn-danger" {{action 'destroyAnswer' answer}}>Delete Answer</button>
