{{#each favorite.favoriteQuestions as |question|}}
<div class="col-sm-6">
  <div class="favoriteListItems">
    {{#link-to 'question' question.id}}{{question.inquiry}} by {{question.author}}{{/link-to}}
  </div>
</div>
{{/each}}
