<div class="indexPosts">
  <div class="postLinks"><h2>{{#link-to 'question' question.id}}{{question.inquiry}}{{/link-to}}   {{question-icon question}}</h2></div>
  <h4>by {{question.author}}</h4>
</div>
