<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation" id="nameOfSite">{{#link-to 'index'}}Chance's Q&amp;A{{/link-to}}</li>
  </ul>
  <div class="jumbotron">
    <h1>Chance's Questions and Answers</h1>
  </div>
  {{outlet}}
</div>
