<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'favorites-list'}}Favorite Questions{{/link-to}}</li>
    <li role="presentation" id="nameOfSite">{{#link-to 'about'}}Chance's Q&amp;A{{/link-to}}</li>
  </ul>
  <div class="jumbotron">
    <h2>Chance's Questions and Answers</h2>
  </div>
  {{outlet}}
</div>
